# Build Variables

CONFIG_TYPE=build

# Nagios UID and GID necessary for impelemntation (don't change unless you know what you are doing)
NAGIOS_UID=5001
NAGIOS_GID=5001
NAGCMD_GID=5002
# 
IMAGE=%IMAGE_NAME%
BUILD_DIR=/usr/local
#
NAGIOS_URL=https://assets.nagios.com/downloads/nagioscore/releases/nagios-4.4.8.tar.gz
NAGIOS_PLUGINS_URL=http://nagios-plugins.org/download/nagios-plugins-2.3.3.tar.gz
PNP4NAGIOS_URL=https://sourceforge.net/projects/pnp4nagios/files/latest
#VMWARE_SDK_URL=https://s3.us-west-2.amazonaws.com/monitor.samanagroup.co/VMware-vSphere-Perl-SDK-6.5.0-4566394.x86_64.tar.gz

SAMM_PWD=set-password