# Build Variables

CONFIG_TYPE=build

# Nagios UID and GID necessary for impelemntation (don't change unless you know what you are doing)
NAGIOS_UID=5001
NAGIOS_GID=5001
NAGCMD_GID=5002
# 
IMAGE=samanamon:v1
DIST=ubuntu
BUILD_DIR=/usr/local
