# Install Variables

# Do not change this variable
CONFIG_TYPE=install

# Delete this variable when installing
EXAMPLE=1

# Set distribution type where the container is going to be installed (ubuntu or redhat)
DIST=ubuntu
IMAGE_URL="" # s3 url to samanamonitor.tgz image

# Set SNMP community for monitoring components
NAGIOS_SNMP_COMMUNITY=
# Set NETBIOS and FQDN Domain name
NAGIOS_NETBIOS_DOMAIN=
NAGIOS_FQDN_DOMAIN=
# If needed, set WMI username and password (username is expected as SAMAccountName)
NAGIOS_WMI_USER=
NAGIOS_WMI_PASSWORD=
# Set Nagios hostname
NAGIOS_HOSTNAME=
# Set source email used for notifications
NAGIOS_EMAIL=
# Set SMTP server that will forward email notifications
NAGIOS_SMTP_SERVER=
# Set SMTP username and password for email notifications (See AWS SES)
NAGIOS_SMTP_USER=
NAGIOS_SMTP_PASSWORD=
# Set Slack domain and token for notifications over Slack
SLACK_DOMAIN=
SLACK_TOKEN=
# Source for ETCD docker image (do not change unless you know what you are doing)
REGISTRY=gcr.io/etcd-development/etcd
