WMIC_PATH=/usr/local/bin
NAGIOS=/usr/local/nagios
NAGIOS_ETC=${NAGIOS}/etc
NAGIOS_BIN=${NAGIOS}/bin
NAGIOS_LIBEXEC=${NAGIOS}/libexec
NAGIOS_SNMP_COMMUNITY=N4g1osS4m4n4
NAGIOS_NETBIOS_DOMAIN=SAMANA
NAGIOS_FQDN_DOMAIN=samana.local
NAGIOS_WMI_USER=samanasvc
NAGIOS_WMI_PASSWORD=C1tr1xAdm1n
LOGPATH=/tmp/install_log

