######################################################################
##############              Hosts                       ##############
######################################################################

define host {
    host_name       ADDCEXAMPLE     ; specify name for the console
    use             msdc-host-tmpl  ; If samana monitor agent installed, samana-windows-server-tmpl should be added to this line
                                    ; By default it only checks SYSVOL and SYSVOL latency
    address         xxxx            ; specify address (FQDN) of the domain controller
    register        0               ; remove this line to start monitoring
}

define host {
  host_name       MSSQLEXAMPLE      ; replace with name for console
  use             mssql-host-tmpl   ; If samana monitor agent installed, samana-windows-server-tmpl should be added to this line
  address         XXXX              ; replace with FQDN of SQL server
  register        0                 ; remove this line to activate
}

define host {
  host_name       MSFILEEXAMPLE     ; replace with name for console
  use             ms-file-tmpl      ; If samana monitor agent installed, samana-windows-server-tmpl should be added to this line
  address         XXXX              ; replace with FQDN of SQL server
  register        0                 ; remove this line to activate
}

######################################################################
##############              Services                    ##############
######################################################################


# The following service should be cloned as many times as Databases
# are to be monitored.
define service {
    service_description     Database XXXX
    use                     mssql-service-tmpl
    _DB_INSTANCE            SQLEXPRESS           ; replace with database instance
    _DB_NAME                XXXX                 ; replace with database name
    _DB_QUERY               XXXX                 ; replace with query
    register                0                    ; remove this line to activate
}

# The following example can be used for monitoring XenDesktop Site database.
# To activate review macros and remove register line
define service {
  service_description       Citrix Site DB Status
  use                       mssql-service-tmpl
  _DB_INSTANCE              SQLEXPRESS
  _DB_NAME                  CitrixSite
  _DB_QUERY                 select top 1 [Uid],[DNSName] from [ADIdentitySchema].[Services]
  register                  0
}

# The following example can be used for monitoring XenDesktop Monitoring database
# To activate review macros and remove register line
define service {
  service_description       Citrix Monitoring DB Status
  use                       mssql-service-tmpl
  _DB_INSTANCE              SQLEXPRESS
  _DB_NAME                  CitrixMonitoring
  _DB_QUERY                 select top 1 * from [MonitorData].[ResourceUtilization]
  register                  0
}

# The following example can be used for monitoring XenDesktop Logging database
# To activate review macros and remove register line
define service {
  service_description       Citrix Logging DB Status
  use                       mssql-service-tmpl
  _DB_INSTANCE              SQLEXPRESS
  _DB_NAME                  CitrixLogging
  _DB_QUERY                 select top 1 [Id],[version] from [ConfigLoggingSchema].[Version]
  register                  0
}

# The following service should be cloned as many times as Shares
# are to be monitored.
define service {
    service_description     Share XXXX
    use                     ms-file-tmpl
    _SHARE_NAME             XXXX           ; replace with share name
    _SHARE_WARN             XXXX           ; replace with warning value for available space. Add M for mega or G for giga
    _SHARE_CRIT             XXXX           ; replace with critical value for available space. Add M for mega or G for giga
    register                0              ; remove this line to activate
}

